.project-form .ant-row.ant-form-item{
  flex-direction: column;
}

.project-form .ant-form-item-label{
  text-align: left;
}

.client-form .ant-row.ant-form-item, .project-form .ant-row.ant-form-item{
  display: contents !important;
}